Flask>=2.3.0
Flask-Cors
python-dotenv
PyPDF2
python-docx
deep-translator
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-huggingface
faiss-cpu
Pillow
pydub
SpeechRecognition
sentence-transformers
torch
fastapi
uvicorn[standard]
python-multipart
pytesseract
